.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 200px;
  align-items: center;

  &__image {
    flex-shrink: 0;
    width: 160px;
    height: 134px;
    background-size: cover;
    background-image: url(../images/imac.jpeg);
    margin-bottom: 40px;
  }

  &__title {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    font-weight: 700;
    color: $main-accent;
  }

  &__product-code {
    color: $secondary;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
  }

  &__stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0%;
      color: $secondary;
    }

    &-price {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0%;
      color: $main-accent;
    }
  }

  &__buy-button {
    width: 166px;
    height: 40px;
    top: 351px;
    left: 17px;
    opacity: 1;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;

    background-color: $blue-accent;
    border: 1px solid $blue-accent;
    color: $white;

    &:hover {
      background-color: $white;
      color: $blue-accent;
    }
  }
}
